$Neutral-Silver: #f5f7fa;
$black: #18191f;
$white: #ffffff;
$green: #4caf4f;
$neutral-l-grey: #89939e;
$neutral-grey: #4d4d4d;
$grey: #717171;
$tint: #e8f5e9;
$neutral-black: #263238;
$text-gray: #d9dbe1;

:root {
    --theme-color: #4caf4f;
  }